/* 공용 바디 설정값 */
body{
    width: 1200px;
    margin: auto;
    height: 200vh;
    background-color: gray;
}


/* 네비게이션 메뉴 설정값 */

nav{
    height: 42px;
    display: flex;
    margin: 0 89.5px;
    padding: 0 24px;

    top: 0;
    background-color: white;
}

nav > ul{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    height: 100%;
}

nav  span{
    font-size: 26px;
    display: flex;
    align-items: center;
}

nav li, nav  span{
    padding: 0 12px;
}

nav li > a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 42px;
}

nav li > a:hover{
    color: green;
}

nav  span:hover{
    color: green;
    cursor: pointer;
}

/* 회원 정보 */

#user-image{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    border: 1px solid white;
}

.ui-container{
    margin: 0 41.5px;
    padding: 24px 24px 0px 24px;
    background-color: gray;

}

.ui-container-table{
    padding: 24px 24px 0px 24px;
    background-color: white;
}

.ui-container-left{
    display: ;
}