body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}


section{
    background-color: white;
}

.header-search{
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: white;
}

.header-buttom-nav{
    height: 42px;
    background-color: white;
    display: flex;
    padding: 0 24px;
    margin: auto;
    width: 1200px;

    justify-content: flex-start;
    align-items: center;
}

.header-buttom-nav a{
    height: 100%;
    font-size: 14px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header-buttom-nav i{
    font-size: 26px;
}

.header-buttom-nav a:hover{
    color: green;
}

.user-container{
    height: 162px;
    background-color: #f2f2f2;
    padding: 24px 24px 0 24px;
    display: flex;
    margin: auto;
    width: 1200px;
    flex-direction: column;
}

.user-container-header{
    padding: 24px 24px 0 24px;
    width: 1200px;
    background-color: white;
    height: 138px;
    display: flex;
}

.user-container-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 80%;
}

.user-image{
    display: block;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 12px;
}

.user-nickname{
    height: 46px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.user-container-image{
    margin-right: 12px;
    text-align: center;
}

.user-container-PFF{
    display: flex;
}

.user-container-PFF > div{
    padding: 4px 3px;
    margin-right: 48px;
    font-size: 18px;
    font-weight: bold;
}

.user-container-PFF a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.user-container-PFF a:hover{
    text-decoration: underline;
}

.user-container-right{
    display: flex;
}

#follow-button{
    width: 94px;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
}

#comment-button{
    padding: 8px 16px;
}

#vesides-button{
    padding: 8px 16px;
    font-weight: bold;
}

.user-container-right button{
    height: 38px;
    border: 1px solid #e2e2e2;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.user-container-nav{
    margin: 0 auto;
    padding: 0 24px;
    height: 47px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.userpage-nav{
    margin-bottom: 12px;
}

.userpage-nav ul{
    margin: 0;
    padding: 0;
    height: 47px;
    background-color: white;
    display: flex;
    align-items: center;
    list-style: none;
    /* transform: translateX(12px); */
}

.userpage-nav li{
    height: 100%;
}

.userpage-nav a{
    height: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.userpage-nav a:focus-within{
    font-weight: bold;
    border-bottom: 2px solid green;
}

.user-colums-container{
    padding-top: 24px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.user-colums-1{
    width: 242px;
    height: 120px;
    background-color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.user-colums-1 div{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}

.user-colums-1 span{
    margin-top: 12px;
    font-size: 14px;
    color: #333333;
}

.user-colums-2{
    height: 377px;
    background-color: white;
    margin: 0 24px;
    padding: 12px 0;
}

.content-user-header{
    display: flex;
}

.content-user-image{
    display: block;
    width: 42px;
    height: 42px;
    border: 1px solid black;
    border-radius: 50%;
}